
.list {
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    /* margin: auto; */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;

}

div{
   /* padding-right: 10px;
   padding-left: 10px; */
margin-left: 20px;
margin-right: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ol{
 
    margin: 0px;
    padding: 0px;
    width: 100%;
}

li {
    /* display: flex; */
    /* flex-direction: row; */
    display: list-item;
    margin-left: 5px;
    width: 100%;
    font-weight: 300;
    padding: 1px;
}

button.completeButton{
    border-color: #ff1493;
    background-color: white;
    color: #ff1493;
    margin-right: 5px;
    font-weight: 300;
    border-radius: 5px;
    padding: 2px;
}

li > button.remove {
    float: right;
    border-style: none;
}


i {
    color: rgb(87, 86, 86);
    float: right;
    font-weight: 600;
}

li > .complete {
    text-decoration: line-through;
}

input {
    width: 100%;
    border-radius: 5px;
    border: .5px solid #eee;
   
}

input[type=text]{
    padding: 5px;
    font-weight: 300;
    color: #bbb
}
button#add{
    width: 100%;
    background-color: #ff1493;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border-style: none;
   
}

h1{
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 0px;
    align-self: flex-start;
}

h2 {
    font-weight: 300;
    font-size: 20px;
    margin-top: 5px;
    align-self: flex-start;


}

form {
    width: 100%;
}